hr {
    width: 500px;
}

.errors-sudoku {
    color: coral;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(81, 177, 51);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    ;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: rgba(245, 245, 245, 0.877);
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}